body {
  background: linear-gradient(to right, #006357, #769e31);
  margin: 0px;
  overflow-x: hidden;
  /* background-size: contain; */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* overflow: hidden; */
}

.image {
  position: absolute;
  left: 20.6%;
  /* right: 1.94%; */
  top: -10%;
  bottom: 53.89%;
  width: 700px;
  height: max-content;
  margin: 0px;

  filter: drop-shadow(50px 50px 80px rgba(0, 0, 0, 0.4));
  /* transform: matrix(0.92, -0.38, 0.31, 0.95, 0, 0); */
  /* border: 1px solid yellow; */
}

img{
  height: 1800px;
  width: 1800px;
  filter: drop-shadow(80px 80px 100px rgba(0, 0, 0, 0.4));
}